In [8]:
import pandas as pd

In [6]:
df = pd.read_csv('speaker.tbl')
df.head()

              # 76 speakers\t\t
0  # ID\tLOC\tGR/AGE\tTOT\tBIN2
1     fabm\tSUM95\t3/9\t100\t62
2      facs\tSUM95\t2/8\t90\t55
3         fadf\tFP\t2/8\t73\t73
4        fadh\tSUM95\tk/6\t1\t1

In [21]:
import os
import pandas as pd

# Step 1: Define the directory containing the .tbl files
directory = 'speaker.tbl'

# Step 2: Define the age groups
bins = [5, 6, 7, 8, 9, 10, 11]
labels = ['6', '7', '8', '9', '10', '11']

# Step 3: Initialize an empty DataFrame to hold cumulative counts
total_counts = pd.DataFrame(columns=['AgeGroup', 'TotalCount'])

# Step 4: Iterate through each .tbl file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.tbl'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Load the .tbl file into a DataFrame
        df = pd.read_csv(file_path, sep='\t')
        
        # Create a new column for the age groups
        df['AgeGroup'] = pd.cut(df['AGE'], bins=bins, labels=labels, right=True)
        
        # Group by the age group and sum the counts
        age_group_counts = df.groupby('AgeGroup')['Count'].sum().reset_index()
        age_group_counts.rename(columns={'Count': 'TotalCount'}, inplace=True)
        
        # Merge with total_counts to accumulate totals across files
        if total_counts.empty:
            total_counts = age_group_counts
        else:
            total_counts = pd.merge(total_counts, age_group_counts, on='AgeGroup', how='outer')
            total_counts['TotalCount'] = total_counts[['TotalCount_x', 'TotalCount_y']].sum(axis=1)
            total_counts = total_counts[['AgeGroup', 'TotalCount']]

# Step 5: Display the final cumulative counts
print(total_counts)

NotADirectoryError: [Errno 20] Not a directory: 'speaker.tbl'